#predictionContainer {
  display: grid;
  margin-top: 2rem;
}

#loading {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

#prediction {
  display: grid;
  text-align: center;
}

.separator {
  margin-bottom: 1rem;
}
